<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{contests/contest-layout}">

<head>
    <title th:text="${standings.contestName}">First of April Contest</title>
</head>

<body>
    <div class="row" layout:fragment="contest-content">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" th:text="${standings.contestName}">First of April Contest</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-center">Place</th>
                                <th scope="col">Contestant</th>
                                <th scope="col" class="text-center" th:each="index : ${standings.problemLetters}" th:text="${index}"></th>
                                <th scope="col" class="text-center">Total</th>
                                <th scope="col" class="text-center">Penalty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${standings.rows}">
                                <th scope="row" class="text-center" th:text="${row.place}"></th>
                                <td th:text="${row.contestant}"></td>
                                <td class="text-center" th:each="result : ${row.results}" th:text="${result}"></td>
                                <td class="text-center" th:text="${row.solvedCount}"></td>
                                <td class="text-center" th:text="${row.penalty}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>