<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

    <div class="row" layout:fragment="contest-header">
        <div class="col">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contest/__${contestId}__}">Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contest/__${contestId}__/submit}">Submit code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contest/__${contestId}__/submissions}">Submissions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contest/__${contestId}__/standings}">Standings</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</html>