<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{contests/contest-layout}">

    <head>
        <title th:text="${contest.contestName}">First of April Contest</title>
    </head>

    <body>
        <div layout:fragment="contest-content">
            <h1 th:text="${contest.contestName}">First of April Contest</h1>

            <table border="1">
                <thead>
                    <tr>
                        <th>Problem</th>
                        <th>Time limit (sec)</th>
                        <th>Memory limit (MB)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="problem : ${contest.problems}">
                        <td><a th:href="${problem.statementUrl}"
                               th:text="${problem.indexedName}">A. A + B</a></td>
                        <td th:text="${problem.timeLimitSeconds}">9</td>
                        <td th:text="${problem.memoryLimitMegabytes}">256</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>