<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{main-layout}">

<head>
    <title>Contest builder</title>
</head>

<body>
    <div class="row" layout:fragment="content">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Contest builder</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form th:action="${model.buildContestUrl}"
                          method="post"
                          name="contest">

                        <table class="table table-bordered">
                            <tr>
                                <th class="w-25">Contest name:</th>
                                <td><input type="text" id="name" name="name"></td>
                            </tr>
                            <tr>
                                <td colspan="2" nowrap>
                                    <ul id="all-problems" class="builder-problems">
                                        <li th:each="problem : ${model.problems}">
                                            <span th:text="${problem.id + ': ' + problem.name}" th:remove="tag"></span>
                                            <input type="checkbox" name="problemIds" th:value="${problem.id}" hidden>
                                        </li>
                                    </ul>
                                    <ul id="selected-problems" class="builder-problems">
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Start time:</th>
                                <td><input type="text" id="start" name="startTime" th:placeholder="${#temporals.format(#temporals.createNow(), T(istu.bacs.DtoUtils).DATE_TIME_FORMAT)}"></td>
                            </tr>
                            <tr>
                                <th>Finish time:</th>
                                <td><input type="text" id="finish" name="finishTime" th:placeholder="${#temporals.format(#temporals.createNow().plus(5, T(java.time.temporal.ChronoUnit).HOURS), T(istu.bacs.DtoUtils).DATE_TIME_FORMAT)}"></td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-lg btn-primary" onclick="buildContest()">Build</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
        <script type="text/javascript">
            function buildContest() {
                var inputCount = document.getElementsByTagName('input').length;
                var selectedProblemCount = 0;
                for (var i = 0; i < inputCount; i++) {
                    var good = false;
                    if (document.getElementsByTagName('input')[i].type === 'checkbox')
                        if (document.getElementsByTagName('input')[i].parentNode.parentNode.id === 'selected-problems')
                            good = true;
                    document.getElementsByTagName('input')[i].checked = good;
                    selectedProblemCount += good;
                }
                console.log('Problems to submit: ' + selectedProblemCount);
                if (selectedProblemCount) {
                    document.getElementsByTagName('form')[0].submit();
                } else {
                    alert('Should be at least one selected problem');
                }
            }
            $(function () {
                new Sortable(document.getElementById('all-problems'), { group: 'problems' });
                new Sortable(document.getElementById('selected-problems'), { group: 'problems' });
            });
        </script>
    </div>
</body>

</html>