<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{main-layout}">

    <head>
        <title>Contests</title>
    </head>

    <body>
        <div layout:fragment="content">
            <h1>Contest list</h1>

            <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" th:href="${model.contestBuilderUrl}">Create new contest</a>

            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Start</th>
                        <th>Finish</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contest : ${model.contests}">
                        <td th:text="${contest.contestId}">42</td>
                        <td>
                            <a href="contest-problems.html" th:href="${contest.contestUrl}" th:text="${contest.contestName}">
                                First of April Contest
                            </a>
                        </td>
                        <td th:text="${T(istu.bacs.web.dto.DtoUtils).format(contest.startTime)}">01.04.2017 12:00</td>
                        <td th:text="${T(istu.bacs.web.dto.DtoUtils).format(contest.finishTime)}">01.04.2017 15:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>