<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{contests/contest-layout}">
    <head>
        <title th:text="${'Submission ' + submission.id}">Submission 123</title>
    </head>
    <body>
        <div layout:fragment="contest-content">
            <h1 th:text="${'Submission ' + submission.id}">Submission 123</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>When</th>
                        <th>Who</th>
                        <th>Problem</th>
                        <th>Language</th>
                        <th>Verdict</th>
                        <th>Test</th>
                        <th>Time (ms)</th>
                        <th>Memory (KB)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${submission.id}">3</td>
                        <td th:text="${submission.created}">23.04.2015 12:35:40</td>
                        <td th:text="${submission.author}">Rustam</td>
                        <td><a href="#" th:href="${submission.problem.statementUrl}"
                               th:text="${submission.problem.indexedName}">A + B</a></td>
                        <td th:text="${submission.language.languageName}">Kotlin</td>
                        <td th:text="${submission.verdict.verdictName}">Wrong Answer</td>
                        <td th:text="${submission.firstFailedTest}">12</td>
                        <td th:text="${submission.usedMillis}">120</td>
                        <td th:text="${submission.usedKilobytes}">20123</td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <textarea th:text="${submission.solution}" style="resize: none; border: none; width: 100%; height: 35em; box-sizing: border-box" readonly>The code goes here</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>