<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{contests/contest-layout}">

<head>
    <title>Submit solution</title>
</head>

<body>
<div layout:fragment="contest-content">
    <h1>Submit solution</h1>

    <form th:action="${model.submitSolutionUrl}"
          enctype="multipart/form-data"
          method="post"
          name="submission">

        <table>
            <tr>
                <td><label for="language">Choose language:</label></td>
                <td>
                    <select id="language" name="language">
                        <option th:each="language : ${model.languages}"
                                th:value="${language}"
                                th:text="${language.languageName}">Kotlin</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="problem.index">Choose problem:</label></td>
                <td>
                    <select id="problem.index" name="problem.index">
                        <option th:each="problem : ${model.problems}"
                                th:value="${problem.index}"
                                th:text="${problem.indexedName}">A. A + B</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: center"><label for="solution">Source code:</label></td>
                <td><textarea id="solution" name="solution" rows="30" cols="80">from kotlin import solution</textarea></td>
            </tr>
            <tr>
                <td><label for="file">Or choose file:</label></td>
                <td><input id="file" name="file" type="file"></td>
            </tr>
            <tr><td><input type="submit" value="Submit"/></td></tr>
        </table>
    </form>
</div>
</body>

</html>