body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

html, body, .container {
    height: 100%;
}

.navbar {
    border: 1px solid lightgray;
}

.login-form {
    background: azure;
    border: 0.05rem solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 30%;
    margin: 0 auto;
}
.login-form h3 {
    text-align: center;
}
.login-form .row {
    text-align: right;
}
.login-form .btn {
    width: 80%;
}

.builder-problems {
	display: inline-block;
	vertical-align: top;
	min-height: 3rem;
	width: 49.5%;
	border: 4px dotted yellow;
}
#all-problems {
	border-color: yellow;
    float: left;
    padding-right: 0.1rem;
}
#selected-problems {
	border-color: greenyellow;
    float: right;
    padding-left: 0.1rem;
}