<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div layout:fragment="active-user" style="float: right">
        <div sec:authorize="authenticated">
            Logged user: <span sec:authentication="name">Josh</span> |
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
            <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
        </div>
        <div sec:authorize="not authenticated">
            <a href="#" th:href="@{/login}">Login</a>
        </div>
    </div>

</html>