<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{main-layout}">

    <head>
        <title>Register</title>
    </head>

    <body>
        <div layout:fragment="content">
            <h1>User registration</h1>
            <!--/*@thymesVar id="user" type="istu.bacs.model.User"*/-->
            <form th:action="@{/register}" th:object="${user}" method="post">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" th:field="*{username}"></td>
                        <td th:if="${#fields.hasErrors()}" th:errors="*{username}">Username errors</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" th:field="*{password}"></td>
                        <td th:if="${#fields.hasErrors()}" th:errors="*{password}">Password errors</td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Register"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

</html>